{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex">
    <button class="btn btn-sm btn-success ">{{ button_label|default('Enregistrer') }}</button>
    <div class="px-2">
    <a href="{{ path('app_produit_index') }}" class='btn btn-sm btn-info'>Annuler</a>
    </div>

    </div>
{{ form_end(form) }}
