{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
<div class="container">
    <h1 class='m-5 text-center'>Liste des produits</h1>
    <a href="{{ path('app_produit_new') }}" class='btn btn-sm btn-primary m-4'>Nouveau produit</a>

    <table class="table">
        <thead>
            <tr>
                <th>Designation</th>
               
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.designation }}</td>
                <td>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
