{% extends 'base.html.twig' %}

{% block title %}Enregistrer un produit{% endblock %}

{% block body %}
<div class="container">
  <h1 class='mt-4 text-center'>Enregistrer un produit</h1>

    {{ include('produit/_form.html.twig') }}

</div>
  
{% endblock %}
