{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ produit.designation }}</td>
            </tr>
            <tr>
                <th>Qte</th>
                <td>{{ produit.qte }}</td>
            </tr>
            <tr>
                <th>PrixU</th>
                <td>{{ produit.prixU }}</td>
            </tr>
            <tr>
                <th>PrixVente</th>
                <td>{{ produit.prixVente }}</td>
            </tr>
            <tr>
                <th>Cmup</th>
                <td>{{ produit.cmup }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
