<form method="post" action="{{ path('app_sell_delete', {'id': sell.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sell.id) }}">
    <button class="btn">Delete</button>
</form>
