{% extends 'base.html.twig' %}

{% block title %}Edit Sell{% endblock %}

{% block body %}
    <h1>Edit Sell</h1>

    {{ include('sell/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sell_index') }}">back to list</a>

    {{ include('sell/_delete_form.html.twig') }}
{% endblock %}
