
{% extends 'base.html.twig' %}

{% block title %}stock index{% endblock %}

{% block body %}
<div class="container">
    <h1 class='m-5 text-center'>Liste des produits</h1>
    <a href="{{ path('app_sell_new') }}" class='btn btn-sm btn-primary m-4'>Nouveau </a>

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix de vente</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sell in sells %}
            <tr>
                <td>{{ sell.product ? sell.product.designation }}</td>
                <td>{{ sell.price }}</td>
                <td class=''>
                    <a href="{{ path('app_sell_edit', {'id': sell.id}) }}" class='btn btn-sm btn-warning'>Modifier</a>
                    <a href="{{ path('app_sell_delete', {'id': sell.id}) }}" class='btn btn-sm btn-danger'>Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
