{% extends 'base.html.twig' %}

{% block title %}New Sell{% endblock %}

{% block body %}
    <h1>Create new Sell</h1>

    {{ include('sell/_form.html.twig') }}

    <a href="{{ path('app_sell_index') }}">back to list</a>
{% endblock %}
