{% extends 'base.html.twig' %}

{% block title %}Sell{% endblock %}

{% block body %}
    <h1>Sell</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sell.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ sell.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sell_index') }}">back to list</a>

    <a href="{{ path('app_sell_edit', {'id': sell.id}) }}">edit</a>

    {{ include('sell/_delete_form.html.twig') }}
{% endblock %}
