
{% extends 'base.html.twig' %}

{% block title %}stock index{% endblock %}

{% block body %}
<div class="container">
    <h1 class='m-5 text-center'>Liste des achats</h1>
    <a href="{{ path('app_stock_new') }}" class='btn btn-sm btn-primary m-4'>Nouvel Achat </a>

    <table class="table">
        <thead>
            <tr>
                <th>date achat</th>
                <th>Produit</th>
                <th>PrixGros</th>
                <th>Qte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.dateAchat ? stock.dateAchat|date('d/m/Y')  : '' }}</td>
                <td>{{ stock.produits ? stock.produits.designation }}</td>
                <td>{{ stock.prixGros }}</td>
                <td>{{ stock.qte }}</td>
                <td class=''>
                    <a href="{{ path('app_stock_edit', {'id': stock.id}) }}" class='btn btn-sm btn-warning'>Modifier</a>
                    <a href="{{ path('app_stock_delete', {'id': stock.id}) }}" class='btn btn-sm btn-danger'>Supprimer</a>
                </td>
            </tr>
        
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
