{% extends 'base.html.twig' %}

{% block title %}New Stock
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class='mt-4 text-center'>Enregistrer un achat</h1>
		<form action="" method="post">
		<div class="form-group my-2">
			<label for="">Date d'achat</label>
			<input type="date" class='form-control' name="date" id="">
		</div>
		<div
			class="form-group my-2">
			{# {{ include('stock/_form.html.twig') }} #}
			<label for="">produit</label>
			<select name="produit" id="" class='form-control'>
				{% for produit in produits %}
					<option value="{{produit.id}}">{{produit.designation}}</option>
				{% endfor %}
			</select>
		</div>


		<div class="form-group my-2">
			<label for="">Qte Achete</label>
			<input type="number" class='form-control' name="qte" id="">
		</div>

		<div class="form-group my-2">
			<label for="">prix d'achat du lot</label>
			<input type="number" class='form-control' name="prix" id="">
		</div>
        <div class="">
        <button type="submit" class='btn btn-success btn-sm'>Enregistrer</button>
		<a href="{{ path('app_stock_index') }}" class='btn btn-danger btn-sm'>Annuler</a>
        </div>
		</form>
	</div>

{% endblock %}
